<div class="page">

  <div class="header-btn">
    @for(users of user; track user){
    @if(!users.isArtist){
      <div class="isNotArtist">
        <button class="beArtist" (click)="goToLogin()">Devenir artiste</button>
        <img class="btnSettings" src="assets/icon/settings.svg" alt="">
      </div>
    }@else{
      <div class="isArtist">
        <ion-segment class="segment" [(ngModel)]="segment" mode="md">
          <ion-segment-button class="user" value="Utilisateur">
            <ion-label>Utilisateur</ion-label>
          </ion-segment-button>

          <ion-segment-button value="Artiste">
            <ion-label>Artiste</ion-label>
          </ion-segment-button>
        </ion-segment>
        <img class="btnSettings" src="assets/icon/settings.svg" alt="">
      </div>
    }
  }
  </div>

  @if(segment === 'Utilisateur'){
    <app-utilisateur></app-utilisateur>
  }

  @if(segment === 'Artiste'){
    <app-artiste></app-artiste>
  }

</div>
