<div id="header">
    <div id="btnArt">
      <button id="beArtist" (click)="goToLogin()">Devenir artiste</button>
      <img id="btnSettings" src="assets/icon/settings.svg" alt="">
    </div>
    <div id="infoUser">
      @for (users of user; track users){
        <p id="firstname">{{users.firstname}}</p>
        <p id="lastname">{{users.lastname}}</p>
        <p id="memberSince">Membre depuis le {{users.createdAt.toDate() | date:'dd/MM/yyyy'}}</p>
      }
    </div>
</div>

<div id="formUser">
  <form [formGroup]="form">
    @for (users of user; track users){

    <ion-item lines="full" class="items">
      <ion-label position="stacked">Email*</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Prénom*</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nom*</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Téléphone</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="tel" placeholder="Champ vide"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date de naissance*</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="dateBirth"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Sexe</ion-label>
      <ion-input [readonly]="!isEditMode" formControlName="sexe" placeholder="Champ vide"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="toggleEditMode()">
      {{ isEditMode ? 'Enregistrer' : 'Modifier' }}
    </ion-button>
  }
  </form>
</div>
