<ion-content [fullscreen]="true">
  <ion-grid>
    @for (songs of song; track songs) {
    <ion-row class="containerHeaderATD">
      <ion-icon (click)="backClicked()" class="iconHeaderATD" name="chevron-back"></ion-icon>
      <p id="title">{{songs.title}}</p>
      <ion-icon class="iconHeaderATD" name="ellipsis-horizontal"></ion-icon>
    </ion-row>

    <div class="picMusic">
        <img src="{{songs.cover}}"
        alt="Music Cover">
    </div>
    <ion-row class="infoLike">
      <ion-col class="infoSong">
        <p class="nameSong">{{songs.title}}</p>
        <p class="nameArtist">NameArtist</p>
      </ion-col>
      <ion-col class="likeShare">
        @if(!isLiked){
          <img class="iconLike" src="assets/icon/like.svg" alt="like" (click)="onLike()">
        }
        @else(){
          <img class="iconLiked" src="assets/icon/likeClicked.svg" alt="likeClick" (click)="onLike()">
        }
        <img class="iconShare" src="assets/icon/share.svg" alt="share" (click)="onShareModal()">
      </ion-col>
    </ion-row>

    <ion-range (ionChange)="seekTo($event)" [value]="progress">
    </ion-range>
    <div class="timerLabel">
      <ion-label>{{ currentTime }}</ion-label>
      <ion-label>{{ duration }}</ion-label>
    </div>

    <ion-row class="btnMusic">
      <ion-button color="transparent" (click)="toggleRepeat()">
        @if(!isRepeating){
        <img src="assets/icon/music/repeat.svg" alt="repeat">
        }
        @else(){
        <img src="assets/icon/music/clickedRepeat.svg" alt="clickedRepeat">
        }
      </ion-button>
      <ion-button color="transparent" (click)="previousTrack()">
        <img src="assets/icon/music/previous.svg" alt="previous">
      </ion-button>

      <ion-button (click)="togglePlayPause()" color="transparent">

        @if(isPlaying){
          <img src="assets/icon/music/pause.svg" alt="pause">
        }
        @else(){
          <img src="assets/icon/music/play.svg" alt="play">
        }
      </ion-button>

      <ion-button color="transparent" (click)="nextTrack()">
        <img src="assets/icon/music/next.svg" alt="next">
      </ion-button>
      <ion-button color="transparent" (click)="toggleShuffle()">
        @if(!isShuffling){
          <img src="assets/icon/music/shuffle.svg" alt="shuffle">
        }
        @else(){
          <img src="assets/icon/music/clickedShuffle.svg" alt="clickedshuffle">
        }
      </ion-button>
    </ion-row>

    <div class="sectionLyrics">
      <ion-row class="headerLyrics">
        <p class="titleLyrics">Lyrics</p>
        <ion-button color="transparent">
          <img src="assets/icon/music/showLyrics.svg" alt="open" (click)="toggleLyrics()">
        </ion-button>
      </ion-row>

      <ion-row class="lyrics">
        @if(showLyrics){
          <p class="contentLyrics">
            {{songs.lyrics}}
          </p>
        }
      </ion-row>
    </div>
    }
  </ion-grid>
</ion-content>
