<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row class="logo">
      <ion-col class="ion-text-center">
        <img src="assets/logo/logo.png">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input label="Email" labelPlacement="floating" placeholder="mike@gmail.com"></ion-input>
        <ion-input label="Password" labelPlacement="floating" placeholder="**********"></ion-input>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

