<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-title class="bold center pad-title">Favoris</ion-title>
  </ion-header>
  <div>
    <div class="pad-container">
        <div>
            <img class="cover-resize" src="assets/formes/default_cover.png" alt="Cover 1">
            <div class="pad-text">
              <p class="bold song-text">Song Name</p>
              <p class="light artist-text">Artist Name</p>
            </div>
            <div class="line"></div>
        </div>
    </div>
  </div>
</ion-content>
