:host {
  display: block;
}

ion-content {
  --background: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

ion-item {
  padding-right: 5%;
}

.cross {
  font-size: 30px;
}

.title-share {
  display: flex;
  position: relative;
  font-size: 20px;
  margin-top: -80px;
  margin-bottom: -80px;
}

.facebook {
  width: 10%;
}

.twitter {
  width: 10%;
}

.instagram {
  width: 10%;
}
