.containerHeaderATD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;

    #title{
      font-size: 16px;
      color: black;
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      letter-spacing: 0.01em;
      font-style: normal;
    }
    .iconHeaderATD {
      font-size: 6vw;
      color: black;
    }
  }

  .pad-container{

    .imgCov{
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%;
      width: 100%;
      .cover-resize {
          width: 126px;
          height: 126px;
          border-radius: 12px;
          object-fit: cover;
        }
    }
    .pad-text {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      height: 100%;
      .song-text {
          margin: 0%;
          font-size: 110%;
          font-weight: 600;
          padding-left: 5%;
        }

      .artist-text {
        margin: 0%;
        padding-left: 1%;
        font-size: 90%;
        padding-left: 5%;
      }
    }

    .btnLS{
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      .buttons-song{
        display: flex;
        justify-content: flex-end;
      }
    }
  }


  .pad-title {
    padding-top: 15%;
    padding-bottom: 10%;
}

.pad-top {
    padding-top: 3%;
}


.ellipsis {
    position: absolute;
    padding-left: 82%;
    transform: rotate(90deg) translateY(-160px) translateX(-155px);
}

.bt1 {
    margin: 0;
}

.bt2 {
    margin: 0;
}









