.containerHeaderATD {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7%;
  
    #title{
      font-size: 16px;
      color: black;
      font-family: 'Manrope', sans-serif;
      font-weight: bold;
      letter-spacing: 0.01em;
      font-style: normal;
    }
    .iconHeaderATD {
      font-size: 6vw;
      color: black;
    }
  }

  .pad-title {
    padding-top: 15%;
    padding-bottom: 10%;
}

.pad-top {
    padding-top: 3%;
}

.buttons-song {
    position: absolute;
    padding-left: 65%;
    padding-top: 18%;
}

.ellipsis {
    position: absolute;
    padding-left: 82%;
    transform: rotate(90deg) translateY(-160px) translateX(-155px);
}

.bt1 {
    margin: 0;
}

.bt2 {
    margin: 0;
}

.like-resize {
    padding-right: 10%;
}

.cover-resize {
    position: absolute;
    padding-left: 10%;
    width: 40%;
}

.pad-text {
    padding-left: 45%;
    padding-bottom: 20%;
}

.song-text {
    margin: 0%;
    font-size: 110%;
}

.artist-text {
    margin: 0%;
    padding-top: 5%;
    padding-left: 1%;
    font-size: 90%;
}

.line {
    padding-top: 3%;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
}