<ion-content [fullscreen]="true">
  <ion-row class="containerHeaderATD">
    <ion-icon (click)="backClicked()" class="iconHeaderATD" name="chevron-back"></ion-icon>
    <p id="title">Music Playlist</p>
    <ion-icon class="iconHeaderATD" name="ellipsis-horizontal"></ion-icon>
  </ion-row>
  <div>
    <div class="pad-container">
      @for (playlists of playlist; track playlists) {
      <ion-item lines="full" class="items">
        <ion-col class="imgCov">
          <img class="cover-resize" src="{{playlists.cover}}" alt="Cover 1">
        </ion-col>
        <ion-col class="pad-text">
            <p class="song-text">{{playlists.name}}</p>
            <p class="light artist-text">Artist Name</p>
        </ion-col>
        <ion-col class="btnLS">
          <ion-row class="buttons-song">
            @if(!isLiked){
            <a class="bt1" color="transparent">
              <img class="like-resize" src="assets/icon/like.svg" alt="Like Icon" (click)="onLike()">
            </a>
            } @else(){
            <a class="bt1" color="transparent">
              <img class="iconLiked like-resize" src="assets/icon/likeClicked.svg" alt="likeClick" (click)="onLike()">
            </a>
            }
            <a class="bt2" color="transparent">
              <img class="share-resize" src="assets/icon/share.svg" alt="Share Button" (click)="onShareModal()">
            </a>
          </ion-row>
        </ion-col>
      </ion-item>
      }
    </div>
  </div>
</ion-content>
