<ion-content [fullscreen]="true">
  <ion-row class="containerHeaderATD">
    <p id="title">Playlist</p>
  </ion-row>
  <div>
    <div class="pad-container">
      @for (playlist of playlists; track playlist) {
      <ion-item lines="full" class="items">
        <ion-col class="imgCov">
          <img class="cover-resize" src="{{playlist.cover}}" alt="Cover">
        </ion-col>
        <ion-col class="pad-text">
            <p class="song-text">{{playlist.name}}</p>
            <p class="light artist-text">Artist Name</p>
        </ion-col>
        <ion-col class="btnLS">
          <ion-row class="buttons-song">
            <a class="bt1" [style.color]="playlist.isLiked ? 'blue' : 'transparent'">
              <img class="like-resize" 
                [src]="playlist.isLiked ? 'assets/icon/likeClicked.svg' : 'assets/icon/like.svg'" 
                [alt]="playlist.isLiked ? 'Like Clicked' : 'Like Icon'" 
                (click)="onLike(playlist.id)">
            </a>
            <a class="bt2" color="transparent">
              <img class="share-resize" src="assets/icon/share.svg" alt="Share Button" (click)="onShareModal()">
            </a>
          </ion-row>
        </ion-col>
      </ion-item>
      }
    </div>
  </div>
</ion-content>
