app-login{
    width: 100%;
  }
  form{
    padding: 0 5%;
    text-align: center;
    ion-list{
      padding-bottom: 5%;
      ion-item{
        --background: transparent;
      }
    }
    ion-button{
    --color: white;
      --background: #15AB90;
    }
    a{
      display: block;
      color: #15AB90;
    }
    .bg-transparent {
      background: transparent;
      a {
        display: flex;
        justify-content: start;
        padding-top: 2%;
        padding-left: 4.5%;
      }
    }

    .passwordVisibility {
      background-color: transparent;
      font-size: 110%;
      padding-top: 5%;
    }
  
  }

  .check {
    position: absolute;
    padding-left: 60.5%;
    margin-top: -40px;
    ion-icon{
      color: #15AB90;
      font-size: 120%;
    }
  }
  