ion-content {
    --background: rgb(122,111,249);
    --background: linear-gradient(186deg, rgba(122,111,249,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    .logo{
      padding-left: 15%;
      padding-right: 15%;
    }
  }
  