#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.new-album {
  font-size: 110%;
  margin: 0;
  padding-bottom: 8%;
}

.discover-text {
  font-size: 100%;
  margin: 0;
  padding-bottom: 5%;
}

.hits {
  font-size: 140%;
  margin: 0;
  padding-bottom: 8%;
}



.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.5%;
  padding-right: 6.5%;
  margin-top: 6%;
  margin-bottom: 6%;
  .search {
    font-size: 30px;
  }

  .profile-picture {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.top-container {
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 5%;
  padding-bottom: 5%;
  .titleHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
        font-weight: bold;
        font-size: 120%;
        margin: 0;
      }

      .see-all-button {
        font-family: 'Manrope', sans-serif;
        text-decoration: none;
        color: #15AB90;
        font-size: 120%;
      }
  }
}





.pad-cont {
  padding-bottom: 8%;
}

.genres {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-left: 6.5%;
  padding-right: 6.5%;

  ion-button{
    --border-style: none;
    --box-shadow: 0;

    --background: #15AB90;
    --border-radius: 30px;
  }
  .bt1 {
    width: 90px;
    color: white;
    background-color: #15AB90;
    border-radius: 30px;
    border: 1px solid #15AB90;
  }
  .bt2 {
    color: black;
      border-radius: 30px;
      border: 1px solid #D3D7DE;
      width: 100px;
  }

}

.songs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 6.5%;
  padding-right: 6.5%;
  padding-top: 2%;

  img{
    width: 90px;
    height: 90px;
    border-radius: 16.36px;
    object-fit: cover;
  }
}

.pad-top {
  padding-top: 3%;
}

.pad-text {
  padding-top: 6%;
  margin: 0;
  text-align: center;
  justify-content: center;
}

.pad-container {
  padding-top: 2%;
  padding-left: 6.5%;
  padding-right: 6.5%;
  .lastPlayedSongInfo{
    display: flex;
    flex-direction: row;
    width: auto;
    img {
        border-radius: 8px;
        width: 66px;
        height: 66px;
        object-fit: cover;
      }
      .pad-text-container{
        align-items: start;
        text-align: right;
        font-size: 16px;
        margin-left: 10px;
        padding-bottom: 7%;
      }

  }
  .timer{
    display: flex;
    text-align: center;
    align-items: center;

    .time-song{
      padding-right: 20%;
    }

    .info-icon{
      font-size: 200%;
    }
  }
}

.pad-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}



.pad-row1 {
  padding-bottom: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pad-row2 {
  padding-bottom: 8%;
}

.resize-cover {
  width: 15%;
}



#container a {
  text-decoration: none;
}

.modif-container {
  position: absolute;
  z-index: 1;
  color: white;
  padding-left: 15%;
  padding-top: 2%;
}

.arrow-size {
  font-size: 180%;
}

.rec-album-home-width {
  z-index: 5;
  width: 90%;
}

.pad {
  padding-left: 9%;
}
