<ion-content [fullscreen]="true">
  <div class="header-container">
    @if (user) {
      <img class="profile-picture" [src]="'https://ui-avatars.com/api/?name=' + user.firstName + ' ' + user.lastName">
    }@else{
      <img class="profile-picture"[src]="'https://ui-avatars.com/api/?name=Guest'">
    }
    <ion-icon class="search" name="search-outline"></ion-icon>
  </div>

  <div class="first-container">
    <div class="modif-container">
      <ion-col>
        @for (lastAlbums of lastAlbum; track lastAlbum) {
          <p class="light new-album">New Album</p>
          <p class="bold hits">{{lastAlbums.title}}</p>
          <p class="light discover-text">Discover 87 songs!</p>
          <ion-icon (click)="goToPlayer()" class="arrow-size" name="arrow-forward-outline"></ion-icon>
        }
      </ion-col>
    </div>
    <img class="rec-album-home-width pad" src="../../../assets/formes/rec_album_home.png" alt="Rectangle New Album">
  </div>

  <div>
    <div class="top-container">
      <ion-row>
        <h3>Music Genres</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="genres">
      <ion-button class="bt1" color="transparent">All</ion-button>
      <ion-button class="bt2" color="transparent">R&B</ion-button>
      <ion-button class="bt3" color="transparent">Pop</ion-button>
      <ion-button class="bt4" color="transparent">Rock</ion-button>
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row>
        <h3>Top Songs</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (songs of song; track songs) {
        <div>
          <img src="{{songs.cover}}" alt="Song Cover 1">
          <div class="pad-top">
            <p class="bold pad-text">{{songs.title}}</p>
            <p class="light pad-text">Artist Name</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row>
        <h3>Last Played</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="pad-container">
      <ion-row class="pad-row1">
        <img class="resize-cover" src="assets/formes/default_cover.png" alt="Song Cover 1">
        <div class="pad-text-container">
          <p class="bold pad-text">Song Name</p>
          <p class="light pad-text">Artist Name</p>
        </div>
        <p class="light pad-text time-song">5:33</p>
        <ion-icon class="info-icon" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
      <ion-row class="pad-row2">
        <img class="resize-cover" src="assets/formes/default_cover.png" alt="Song Cover 2">
        <div class="pad-text-container">
          <p class="bold pad-text">Song Name</p>
          <p class="light pad-text">Artist Name</p>
        </div>
        <p class="light pad-text time-song">5:33</p>
        <ion-icon class="info-icon" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
      <ion-row>
        <img class="resize-cover" src="assets/formes/default_cover.png" alt="Song Cover 3">
        <div class="pad-text-container">
          <p class="bold pad-text">Song Name</p>
          <p class="light pad-text">Artist Name</p>
        </div>
        <p class="light pad-text time-song">5:33</p>
        <ion-icon class="info-icon" name="ellipsis-horizontal"></ion-icon>
      </ion-row>
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row>
        <h3>Top Albums</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (albums of album; track albums) {
        <div>
          <img src="{{albums.cover}}" alt="Album Cover 1">
          <div class="pad-top">
            <p class="bold pad-text">{{albums.title}}</p>
            <p class="light pad-text">Artist Name</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row>
        <h3>Top Artists</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (artists of artist; track artist) {
        <div>
          <img src="{{artists.avatar}}" alt="Artist Avatar 1">
          <div class="pad-top">
            <p class="bold pad-text">{{artists.fullname}}</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="pad-cont">
    <div class="top-container">
      <ion-row>
        <h3>Playlists</h3>
        <a class="see-all-button" href="">See All</a>
      </ion-row>
    </div>
    <div class="songs">
    @for (playlists of playlist; track playlists) {
      <div>
        <img src="{{playlists.cover}}" alt="Playlist Cover">
        <div class="pad-top">
          <p class="bold pad-text">{{playlists.name}}</p>
        </div>
      </div>
    }
    </div>
  </div>

  <!-- @for(user of users; track user){
  <p [innerHTML]="user.id"> </p>
  <p> {{ user.username }} </p>
  <p> {{ user.phone | phoneNumber }} </p>
  } -->

</ion-content>
