<ion-content [fullscreen]="true">
  <div class="header-container">
    @if (user) {
      <img class="profile-picture" [src]="'https://ui-avatars.com/api/?name=' + user.firstName + ' ' + user.lastName">
    }@else{
      <img class="profile-picture"[src]="'https://ui-avatars.com/api/?name=Guest'">
    }
    <ion-icon class="search" (click)="goToSearch()" name="search-outline"></ion-icon>
  </div>

  <div class="first-container">
    @for (lastAlbums of lastAlbum; track lastAlbum) {
    <div class="modif-container">
      <ion-col>
          <p class="light new-album" (click)="goToAlbum()">New Album</p>
          <p class="bold hits" (click)="goToAlbum()">{{lastAlbums.title}}</p>
          <p class="light discover-text" (click)="goToAlbum()">Discover 87 songs!</p>
          <ion-icon class="arrow-size" (click)="goToAlbum()" name="arrow-forward-outline"></ion-icon>
      </ion-col>
    </div>
    <img class="rec-album-home-width pad" src="../../../assets/formes/rec_album_home.png" alt="Rectangle New Album">
    }
  </div>

  <div>
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Music Genres</h3>
        <a class="see-all-button" (click)="goToMusicList()">See All</a>
      </ion-row>
    </div>
    <div class="genres">
      <ion-button (click)="goToMusicList()" class="bt1" color="transparent">All</ion-button>
      <ion-button (click)="goToMusicList()" class="bt2" color="transparent">R&B</ion-button>
      <ion-button (click)="goToMusicList()" class="bt2" color="transparent">Pop</ion-button>
      <ion-button (click)="goToMusicList()" class="bt2" color="transparent">Rock</ion-button>
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Top Songs</h3>
        <a class="see-all-button" (click)="goToMusicList()">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (songs of song; track songs) {
        <div>
          <img src="{{songs.cover}}" (click)="goToPlayer()" alt="Song Cover 1">
          <div class="pad-top">
            <p class="bold pad-text" (click)="goToPlayer()">{{songs.title}}</p>
            <p class="light pad-text" (click)="goToPlayer()">Artist Name</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Last Played</h3>
        <a class="see-all-button" (click)="goToMusicList()">See All</a>
      </ion-row>
    </div>
    <div class="pad-container">
        @for (lastSongHeards of lastSongHeard; track lastSongHeards) {
        <ion-row class="pad-row1">
          <div class="lastPlayedSongInfo">
            <img src="{{lastSongHeards.cover}}" alt="Song Cover 1" (click)="goToPlayer()">
            <div class="pad-text-container">
              <p class="bold pad-text" (click)="goToPlayer()">{{lastSongHeards.title}}</p>
              <p class="light pad-text" (click)="goToPlayer()">Artist Name</p>
            </div>
          </div>
          <div class="timer">
            <p class="light time-song" (click)="goToPlayer()">{{lastSongHeards.time}}</p>
            <ion-icon class="info-icon" name="ellipsis-horizontal" (click)="goToPlayer()"></ion-icon>
          </div>
        </ion-row>
        }
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Top Albums</h3>
        <a class="see-all-button" (click)="goToAlbum()">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (albums of album; track albums) {
        <div>
          <img src="{{albums.cover}}" (click)="goToAlbum()" alt="Album Cover 1">
          <div class="pad-top">
            <p class="bold pad-text" (click)="goToAlbum()">{{albums.title}}</p>
            <p class="light pad-text" (click)="goToAlbum()">Artist Name</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div>
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Top Artists</h3>
        <a class="see-all-button" (click)="goToArtist()">See All</a>
      </ion-row>
    </div>
    <div class="songs">
      @for (artists of artist; track artists) {
        <div>
          <img src="{{artists.avatar}}" alt="Artist Avatar 1" (click)="goToArtist()">
          <div class="pad-top">
            <p class="bold pad-text" (click)="goToArtist()">{{artists.fullname}}</p>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="pad-cont">
    <div class="top-container">
      <ion-row class="titleHeader">
        <h3>Playlists</h3>
        <a class="see-all-button" (click)="goToPlaylist()">See All</a>
      </ion-row>
    </div>
    <div class="songs">
    @for (playlists of playlist; track playlists) {
      <div>
        <img src="{{playlists.cover}}" (click)="goToMusicList()" alt="Playlist Cover">
        <div class="pad-top">
          <p class="bold pad-text" (click)="goToMusicList()">{{playlists.name}}</p>
        </div>
      </div>
    }
    </div>
  </div>
</ion-content>
