<ion-tabs (ionTabsDidChange)="onTabChange($event)">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <img [src]="selectedTab === 'home' ? 'assets/tabs/in-home.svg' : 'assets/tabs/home.svg'" alt="Home" class="tab-icon">
    </ion-tab-button>
    <ion-tab-button tab="like">
      <img [src]="selectedTab === 'like' ? 'assets/tabs/in-like.svg' : 'assets/tabs/like.svg'" alt="like" class="tab-icon">
    </ion-tab-button>
    <ion-tab-button tab="playlist">
      <img [src]="selectedTab === 'playlist' ? 'assets/tabs/in-playlist.svg' : 'assets/tabs/playlist.svg'" alt="playlist" class="tab-icon">
    </ion-tab-button>
    <ion-tab-button tab="account">
      <img [src]="selectedTab === 'account' ? 'assets/tabs/in-account.svg' : 'assets/tabs/account.svg'" alt="account" class="tab-icon">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
