<div class="infoArtist">
  <img class="avatar" src="https://picsum.photos/id/1/200/300" alt="profile">
  <div class="info">
    <p id="fullname">Nom Artiste</p>
    <p id="follower">nb abbonée</p>
    <p id="artistSince">artist depuis</p>
  </div>
</div>

  <ion-segment class="segmentArtist" [(ngModel)]="segmentArtist" mode="md">

    <ion-segment-button class="compte" value="Compte">
      <ion-label>Compte</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Sons">
      <ion-label>Sons</ion-label>
    </ion-segment-button>

    <ion-segment-button value="Albums">
      <ion-label>Albums</ion-label>
    </ion-segment-button>

  </ion-segment>

  @if(segmentArtist === "Compte"){
    <div class="formArtist">
      <form [formGroup]="form">
        <ion-label>Nom d'artist*</ion-label>
        <ion-input [readonly]="!isEditMode" formControlName="fullname"></ion-input>

        <ion-label>Label*</ion-label>
        <ion-input [readonly]="!isEditMode" formControlName="label"></ion-input>

        <ion-label>Description</ion-label>
        <ion-textarea counter="true" maxlength="500" auto-grow="true" formControlName="Description" [readonly]="!isEditMode" fill="outline"></ion-textarea>

        <div class="btnEdit">
          @if (!isEditMode) {
          <ion-button class="edit" (click)="toggleEditMode()" color="transparent">
            MODIFIER
          </ion-button>

          <ion-button class="desac" color="transparent">
            DESACTIVER
          </ion-button>
          }@else{
            <ion-button class="edit" (click)="toggleEditMode()" color="transparent">
              VALIDER
            </ion-button>

            <ion-button class="desac" color="transparent">
              ANNULER
            </ion-button>
          }
        </div>
      </form>
    </div>
  }

  @if(segmentArtist === "Sons"){
    <div class="Songs">
        <div class="listSongs">
            <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s" alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
            <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s" alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <div class="listSongs">
          <img class="cover" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo_lUqkfSzU6BYJ7wKkc-ZZENXNcQbQ01WQQ&s"
            alt="profile">
          <div class="infoSong">
            <p id="Title">Nom du son</p>
            <p id="Artist">Artiste</p>
          </div>
          <img class="visible" src="assets/icon/visible.svg" alt="profile">
        </div>

        <img class="addSongs" src="assets/icon/add.svg" alt="profile">
    </div>
  }

  @if(segmentArtist === "Albums"){

  }


