<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-row>
      <p>Mot de passe oublié</p>
    </ion-row>
    <ion-row>
      <ion-input labelPlacement="stacked" formControlName="email" label="Enter your email" placeholder="Your email"></ion-input>
      <ion-input labelPlacement="stacked" formControlName="password" label="Enter your new password" placeholder="Your password"></ion-input>
      @if(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)){
        <div>
          @if(form.get('password')?.errors?.['required'] ){
          <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ 'auth.password_required'|translate }}</p>
          }
          @else if(form.get('password')?.errors?.['pattern'] ){
          <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ 'auth.password_format'|translate }}</p>
          }
          @else if(form.get('password')?.errors?.['minlength'] ){
          <p class="error"><ion-icon name="alert-outline"></ion-icon>{{ 'auth.password_minSize'|translate }}</p>
          }
        </div>
      }
      <br>
      <ion-button type="submit" (click)="confirm()" [disabled]="!form.valid && !submitForm">Envoyer</ion-button>
    </ion-row>
  </ion-item>
</ion-content>