<ion-content [fullscreen]="true">
  <div class="page">
    <div class="header-container">
      <div class="background">
        <div id="header">
          <ion-icon (click)="backClicked()" class="back" name="chevron-back-outline"></ion-icon>
        </div>
      </div>
    </div>

    <div class="Title">
      <h1>Mot de passe oublié</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="formArtist">
      <ion-item>
        <ion-input type="email" formControlName="email" name="email" label="Email" labelPlacement="floating"
          placeholder="mike@mike.mike"></ion-input>
      </ion-item>
      @if(form.get('email')?.invalid && (form.get('email')?.dirty || form.get('email')?.touched)){
        <div>
          <br>
          @if(form.get('email')?.errors?.['required'] ){
          <p class="error center">{{ 'auth.email_required'|translate }}<ion-icon name="alert-outline"></ion-icon></p>
          }
          @else if(form.get('email')?.errors?.['pattern'] ){
          <p class="error center">{{ 'auth.email_format'|translate }}<ion-icon name="alert-outline"></ion-icon></p>
          }
          <br>
        </div>
      }
      <ion-item>
        <ion-input [type]="passwordFieldType==='password' ? 'password' : 'text'" formControlName="password" name="password" label="New password" labelPlacement="floating"
          placeholder="••••••••••••••"></ion-input>
        <button
          (click)="togglePasswordVisibility()"
          type="button"
          class="passwordVisibility"
        >
          <ion-icon
            [name]="passwordFieldType === 'password' ? 'eye-off-outline' : 'eye-outline'"
          ></ion-icon>
        </button>
      </ion-item>
      @if(form.get('password')?.invalid && (form.get('password')?.dirty || form.get('password')?.touched)){
        <div>
          <br>
          @if(form.get('password')?.errors?.['required'] ){
          <p class="error center">{{ 'auth.password_required'|translate }}<ion-icon name="alert-outline"></ion-icon></p>
          }
          @else if(form.get('password')?.errors?.['minlength'] ){
          <p class="error center">{{ 'auth.password_minSize'|translate }}<ion-icon name="alert-outline"></ion-icon></p>
          }
          <br>
        </div>
      }
      <br>
      @if(error){
      <p class="error">{{ error }}<ion-icon name="alert-outline"></ion-icon></p>
      }
      <br>
    </form>

    <div class="btnValid">
      <ion-button type="submit" (click)="confirm()" [disabled]="!form.valid && !submitForm">Envoyer</ion-button>
    </div>

  </div>
</ion-content>
