<ion-content [fullscreen]="true">
  <ion-row class="containerHeaderATD">
    <ion-icon (click)="backClicked()" class="iconHeaderATD" name="chevron-back"></ion-icon>
    <p id="title">Toutes les catégories</p>
  </ion-row>
  <ion-col>
    <ion-button (click)="goToMusicList()" class="bt1">
      <img src="assets/icon/genres/rap_icon.svg" alt="Icon Rap">
      <p>Rap</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt2">
      <img src="assets/icon/genres/rnb_icon.svg" alt="Icon R'N'B">
      <p>R'N'B</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt3">
      <img src="assets/icon/genres/gospel_icon.svg" alt="Icon Gospel">
      <p>Gospel</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt4">
      <img src="assets/icon/genres/soul_icon.svg" alt="Icon Soul">
      <p>Soul</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt5">
      <img src="assets/icon/genres/country_icon.svg" alt="Icon Country">
      <p>Country</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt6">
      <img src="assets/icon/genres/hiphop_icon.svg" alt="Icon Hip Hop">
      <p>Hip Hop</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt7">
      <img src="assets/icon/genres/jazz_icon.svg" alt="Icon Jazz">
      <p>Jazz</p>
    </ion-button>
    <ion-button (click)="goToMusicList()" class="bt8">
      <img src="assets/icon/genres/mike_icon.svg" alt="Icon Mike">
      <p>Mike</p>
    </ion-button>
  </ion-col>
</ion-content>
