<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  @for(user of users; track user){
  <p [innerHTML]="user.id"> </p>
  <p> {{ user.username }} </p>
  <p> {{ user.phone | phoneNumber }} </p>
  }

  <div id="container"><ion-icon name="albums-outline"></ion-icon>
    <strong>Ready to create an app? <ion-icon name="airplane-outline"></ion-icon></strong>
    <ion-icon name="airplane-outline"></ion-icon>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
        href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
